

main {
    padding: 20px 0;
    font-family: 'Jura';
}

section {
    margin: 5vw 7%;
    margin-bottom: 15vw;
    z-index: 1;
}

section button {
    z-index: 0;
}

.hidden {
    opacity: 0;
    transition-duration: .4s;
}

.shown {
    opacity: 1;
    transition-duration: .4s;
}

#intro .title {
    width: 60%;
    display: block;
}

#signup {
    display: flex;
    flex-direction: row;
}

#signup button {
    width: 15vw;
    height: 5vw;
}

#signup span {
    margin-top: 0px;
    display: block;
}

#signup #signtext {
    width: 55%;
    display: block;
}

.large {
    font-size: 4vw;
    color: #FFFFFF;
    font-weight: lighter;
}

.medium {
    font-size: 2.5vw;
    color: #BBBBBB;
    font-weight: lighter;
}

.small {
    font-size: 2vw;
    color: #BBBBBB;
    font-weight: lighter;
}

.title {
    font-size: 7.5vw;
    font-weight: lighter;
    color: #FFFFFF;
}




.column{
    display: flex;
    flex-direction: column;
  }

  .column2{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }

  #row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .card {
    height: 140px;
    width: 150px;
    background: rgb(255,255,255,0.25);
    background: linear-gradient(rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.25) 100%);
    position: relative;
    margin: 15px;
    border-radius: 15px;
    border:1px solid white;
}


.card:before {
    content: "";
    position:absolute;
    margin:-21px;
    border-right: 1px solid white;
    width:40px;
    height:40px;
    transform:rotate(45deg);
    background-color:#000;
  }

  .container-img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

    .rectangle { 
        --edge-size: 20%;
        border-radius: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255,.25);
        margin: .3vw;
        width: 13vw;
        height: 13vw;
        clip-path: polygon( var(--edge-size) 0%, 100% 0, 100% 100%, 0 100%, 0% var(--edge-size) );
    } 
    
    .inner { 
        border-radius: 10%;
        background: rgba(0, 0, 0, 0.5);
        width: 98%; 
        height: 98%;
        clip-path: polygon( var(--edge-size) 0%, 100% 0, 100% 100%, 0 100%, 0% var(--edge-size) ); 
    }